<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
    <!--<p style="margin:20px 0 20px 0 !important;">
      <b>Resources:</b>
      <br>
      <a href="https://go.getproton.me/aff_c?offer_id=26&aff_id=5775&url_id=589">
                  Proton Mail
      </a>
      <br>
      <a href="https://app.privacy.com/join/CXHJR">
          Privacy.com
      </a>
      <br>
      <a href="https://go.getproton.me/aff_c?offer_id=26&aff_id=5775&url_id=282">
          Proton VPN
      </a>-->
  </p>


  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
      </span>
    {% endif %}
  </p>
</footer>
